.drinkPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    &-image {
        border: 2px solid black;
        width: 28%;
    }
    &-info {
        width: 50%;
        line-height: 24px;
    }
    &-badges {
        width: 100%;
        margin: 12px 0px 12px 0px;
        height: 32px;
        .drinkPage-badge {
            height: 100%;
            width: auto;
            margin-right: 12px;
        }
    }
}

@media only screen and (min-width: 0rem) and (max-width: 42rem) {
    .drinkPage {
        display: inline;
        &-image {
            width: 100%;
            border: none;
        }
        &-info { 
            padding: 0px 16px 0px 16px;
            margin-top: 16px;
            width: 90%;
        }
        &-desc {
            margin-top: 12px;
        }
    }
}