.search { 
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &-header {
        margin-top: 84px;
        margin-bottom: 24px;
    }
    &-body {
        line-height: 24px;
    }
    &-empty {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        height: 100vh;
        text-align: center;
        line-height: 1.6;
        max-width: 45vw;
    }
    &-query {
        color: #506C64;
        font-style: italic;
    }
}


@media only screen and (min-width: 0rem) and (max-width: 42rem) {
    .search {
        &-empty {
            height: 100vh;
            max-width: 90%;
        }
        &-query {
            width: 100%;
        }
    }
}