$lm-bg-color: white;
$lm-text-color: black;
$dm-bg-color: black;
$dm-text-color: white;
$transparent-bg: #2a2b2a00;

* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  width: 100vw;
  overflow-x: hidden;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  #root {
    width: 100vw;
    // height: 100vh;
    position: relative;
  }
  .app {
    .navbar {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        z-index: 100;
        border: solid 1px black;
        height: 60px;
        &-title {
            margin-left: 18px;
            font-size: 24px;
        }
        .burger-svg {
            position: absolute;
            top: 0;
            bottom: 0;
            margin-top: auto;
            margin-bottom: auto;
            right: 18px;
            align-self: center;
            z-index: 1005;
        }
    }
  }
}

@media only screen and (min-width: 0rem) and (max-width: 42rem) {

}