$lm-bg-color: white;
$lm-text-color: black;
$dm-bg-color: black;
$dm-text-color: white;
$transparent-bg: #2a2b2a00;

* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  width: 100vw;
  font-family: 'Work Sans', Arial, Helvetica, sans-serif;
  #root {
    width: 100vw;
    // height: 100vh;
    position: relative;
  }
  .app {
    overflow-x: hidden;
    min-height: 100vh;
  }
  .loading-container {
    height: 100vh;
    display: flex;
    align-items: center;
    .loading-subtitle { 
        margin-left: 1.5rem;
    }
    .svg-circle {
        overflow: visible;
    }
}
}

@media only screen and (min-width: 0rem) and (max-width: 42rem) {

}